In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
pop = pd.read_csv("C:\\Users\\fenil\\Desktop\\St Clair\\DAB-103-Analytical Tools & Decision Making\\Project\\Dataset\\CSV\\Total_population.csv", skiprows = 3)

In [8]:
cols = ['Country Name',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020']

In [9]:
pop_change = pop[cols].set_index('Country Name').stack().reset_index()

pop_change

      Country Name level_1           0
0            Aruba    1960     54211.0
1            Aruba    1961     55438.0
2            Aruba    1962     56225.0
3            Aruba    1963     56695.0
4            Aruba    1964     57032.0
...            ...     ...         ...
15734     Zimbabwe    2015  13814629.0
15735     Zimbabwe    2016  14030390.0
15736     Zimbabwe    2017  14236745.0
15737     Zimbabwe    2018  14439018.0
15738     Zimbabwe    2019  14645468.0

[15739 rows x 3 columns]

In [10]:
pop_change.rename(
    columns=({ 'Country Name': 'country', 'level_1': 'year', 0:'Population total' }), 
    inplace=True,
)

pop_change

        country  year  Population total
0         Aruba  1960           54211.0
1         Aruba  1961           55438.0
2         Aruba  1962           56225.0
3         Aruba  1963           56695.0
4         Aruba  1964           57032.0
...         ...   ...               ...
15734  Zimbabwe  2015        13814629.0
15735  Zimbabwe  2016        14030390.0
15736  Zimbabwe  2017        14236745.0
15737  Zimbabwe  2018        14439018.0
15738  Zimbabwe  2019        14645468.0

[15739 rows x 3 columns]

In [11]:
pop_change = pop_change.astype({"country" : str, "year" : int})

In [19]:
pop_change.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15739 entries, 0 to 15738
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           15739 non-null  object
 1   year              15739 non-null  int32
 2   Population total  15739 non-null  float64
dtypes: float64(1), int32(1), object(1)
memory usage: 307.5+ KB

In [12]:
pop_change.isnull().sum()

country             0
year                0
Population total    0
dtype: int64

In [17]:
pop_change.to_csv('C:\\Users\\fenil\\Desktop\\St Clair\\DAB-103-Analytical Tools & Decision Making\\Project\\Dataset\\Change\\pop_change.csv')